body{
margin:0;
font-family:Arial,sans-serif;
background:#eef2ff;
}

.container{

width:400px;
margin:100px auto;
background:white;
padding:40px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.2);

}

h1{

color:#4338ca;
margin-bottom:20px;

}

h2{

font-size:60px;
margin-bottom:25px;
color:#2563eb;

}

button{

padding:12px 25px;
font-size:18px;
border:none;
border-radius:8px;
background:#2563eb;
color:white;
cursor:pointer;
transition:.3s;

}

button:hover{

background:#1d4ed8;

}
.buttons{
display:flex;
justify-content:center;
gap:15px;
margin-top:20px;
}